<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Power</title>
    <meta charset="UTF-8" />
    <style>
        input.error {
            background: pink;
        }
    </style>
</head>
<body>
<div>
    <section layout:fragment="content">
    <h2>Power feature (płatny toolbox)</h2>
    <form th:object="${calculatorForm}" action="/calculate" method="post">
        x = <input type="text" th:field="*{x}" th:errorclass="error" />
        <span th:if="${#fields.hasErrors('x')}" th:errors="*{x}">Błędne dane</span>
        <br/>
        y = <input type="text" th:field="*{y}" th:errorclass="error" />
        <span th:if="${#fields.hasErrors('y')}" th:errors="*{y}">Błędne dane</span>
        <br/>
        <select th:field="*{operation}" th:errorclass="error" style="width: 100px; text-align-last: center;">
            <option th:value="'+'">+</option>
            <option th:value="'-'">-</option>
            <option th:value="'*'">*</option>
        </select>
        <span></span>
        <br/>
        <input type="submit" value="Oblicz" />
    </form>
    </section>
</div>
</body>
</html>