<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
        <style>
            img.empPhoto {
                width: 300px;
            }
            .fired {
                color: firebrick;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" th:inline="text">
            <h1>Pan Prezes</h1>
            <p>
                <b>
                    <span th:text='|${boss.firstName} ${boss.lastName}|'>Imię i Nazwisko</span>
                </b>
            </p>
            <img th:src="${boss.photoUrl}" class="empPhoto" 
                 src="http://via.placeholder.com/250x250"/>

            <h1>Pracownicy firmy</h1>

            <table class="table table-striped">
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Pensja</th>
                    <th>Data zatrudnienia</th>
                    <th>Data zwolnienia</th>
                    <th>Umiejętności</th>
                    <th>Uwagi</th>
                    <th>Zdjęcie</th>
                </tr>
                <tr th:each="emp,iterStat : ${employees}" th:classappend="${emp.getDateOfTermination()!=null} ? 'fired'">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="|${emp.getFirstName()} ${emp.getLastName()}|"></td>
                    <td th:text="${emp.getJobTitle()}"></td>
                    <td th:text="${#numbers.formatDecimal( emp.getSalary(),3,'WHITESPACE',2,'POINT')}"></td>
                    <td th:text="${#dates.format(emp.getDateOfEmployment(), 'dd.MM.yyyy')}"></td>
                    <td th:text="(${emp.getDateOfTermination()}==null? 'Wciąż pracuje' : ${#dates.format(emp.getDateOfTermination(), 'dd.MM.yyyy')})"></td>
                    <td>
                        <p th:each="skill,iflast : ${emp.getSkills()}" th:text="(${!(iflast.last)}? (${skill.getName()}+' ('+${skill.getLevel()}+'),') : (${skill.getName()}+' ('+${skill.getLevel()}+')'))"></p>
                    </td>
                    <td>
                        <p th:each="comm : ${emp.getComments()}" th:text="${comm}"></p>
                    </td>
                    <td>
                        <img th:attr="src=${emp.getPhotoUrl()}" th:class="empPhoto"/>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>