<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Lista ofert</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <section layout:fragment="content">
        <div id="offerFilter" class="panel panel-default">
            <div class="panel-heading">Szukaj ofert</div>
            <div class="panel-body">
                <form th:object="${offerFilter}" id="offerFilterForm" action="/1" method="get" class="form-inline" >
                    <select class="form-control" th:field="*{manufacturerId}">
                        <option th:value="null">brak wyboru</option>
                        <option th:each="manufacturer : ${carManufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}">Marka</option>
                    </select>
                    <select class="form-control" th:field="*{modelId}">
                        <option th:value="null">brak wyboru</option>
                        <option th:each="models : ${carModels}" th:value="${models.id}" th:text="${models.name}">Model</option>
                    </select>
                    <br />
                    <input placeholder="Rok od" type="number" class="form-control" th:field="*{yearFrom}" />
                    -
                    <input placeholder="Rok do" type="number" class="form-control" th:field="*{yearTo}" />
                    <br />
                    <input placeholder="Cena od" type="number" class="form-control" th:field="*{priceFrom}" />
                    -
                    <input placeholder="Cena do" type="number" class="form-control" th:field="*{priceTo}" />
                    <br />

                    <select class="form-control" th:field="*{fuelTypeId}">
                        <option th:value="null">brak wyboru</option>
                        <option th:each="fuel : ${fuelTypes}" th:value="${fuel.id}" th:text="${fuel.name}">Fuel</option>
                    </select>
                    <br /><br />
                    <select class="form-control" th:field="*{sortOption}">
                        <option th:value="null">Sortowanie po:</option>
                        <option th:value="1">Tytuł A-Z</option>
                        <option th:value="2">Tytuł Z-A</option>
                        <option th:value="3">Cena rosnąco</option>
                        <option th:value="4">Cena malejąco</option>
                        <option th:value="5">Rok produkcji rosnąco</option>
                        <option th:value="6">Rok produkcji malejąco</option>
                        <option th:value="7">Data rosnąco</option>
                        <option th:value="8">Data malejąco</option>
                    </select>

                    <br />
                    <br />
                    <input type="submit" value="Filtruj" class="form-control"/>
                </form>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Data dodania</th>
                <th>Tytuł</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Rocznik</th>
                <th>Cena</th>
                <th></th>
            </tr>
            <tr th:each="offer : ${offers}">
                <td th:text="${offer.date}"></td>
                <td th:text="${offer.title}"></td>
                <td th:text="${offer.carModel.manufacturer.name}"></td>
                <td th:text="${offer.carModel.name}"></td>
                <td th:text="${offer.year}"></td>
                <td class="text-right">
                    <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0, 'COMMA')}"></span>zł
                </td>
                <td><a th:href="|/offer/${offer.id}|">Pokaż</a></td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg" >
                <li class="page-item" th:class="(${page} &lt;= 1 ? 'page-item disabled' : 'page-item')">
                    <a class="page-link" th:href="(${page} &gt; 1 ? (${page}-1)+${filterPath} : '')">&#8636;</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, pageSize)}" th:class="(${page}==${i}?'page-item active':'page-item')">
                    <a class="page-link" th:href="${i}+${filterPath}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:class="(${page} &gt;= ${pageSize} ? 'page-item disabled' : 'page-item')">
                    <a class="page-link" th:href="(${page} &lt; ${pageSize} ? (${page}+1)+${filterPath} : '')">&#8640;</a>
                </li>
            </ul>
        </nav>
    </section>
</body>
</html>